{%extends 'base.html'%}
{% block body_block %}

<div class="container mt-5 bg-light pt-3 pb-3">
    <h2>{{request.user}}</h2>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            {% if messages %}
                {% for msg in messages %}
                    {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>{{msg}}</strong> 
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>

                    {% endif %}
                {% endfor %}

            {% endif %}
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <table class="table mt-3">
                <tr>
                    <th>ID</th>
                    <th>TASK_NAME</th>
                    <th>USER</th>
                    <th>ACTION</th>
                </tr>
                {%for task in tasks%}
                <tr>
                    <td>{{task.id}}</td>
                    <td>{{task.task_name}}</td>
                    <td>{{task.user}}</td>
                    <td>
                        
                        <a href="{%url 'todo-detail' task.id%}" class="btn btn-info  ms-2">Detail</a>
                        <a href="{%url 'todo-update' task.id%}" class="btn btn-warning ms-2">Edit</a>
                        <a href="{%url 'todo-delete' task.id%}" class="btn btn-danger ms-2">Delete</a>


                    </td>
                    
                </tr>
                {%endfor%}
            </table>
        </div>
        <div class="col-2"></div>
    </div>
</div>
{% endblock %}